page-about {
    ion-card{
        position: fixed;
        bottom: 10%;
        ion-card-content{
            padding: 0 !important;
        }
        .songdetails{
            margin-top: 2px;
        }
    }

}
