<ion-content [fullscreen]="true">
  <div class="container">
    <div class="login-container">
      <ion-card class="py-3">
        <ion-card-header>
          <ion-card-title>Welcome to Mele</ion-card-title>
          <ion-card-subtitle>Create your account</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="col-md-12">
            <button
              type="button"
              class="login-with-google-btn"
              (click)="signUpWithGoogle()"
            >
              Signup with Google
            </button>
          </div>
          <div class="col-md-12 divider my-3">
            <hr />
            <span>or</span>
            <hr />
          </div>
          <div class="col-12 mt-3">
            <input
              type="email"
              #email
              required
              placeholder="Enter your email"
              class="form-control"
            />
          </div>
          <div class="col-12 mt-3">
            <input
              type="password"
              #password
              required
              placeholder="Choose a password"
              min="8"
              max="15"
              class="form-control"
              (input)="checkPasswordStrong(password.value)"
            />
          </div>
          <div
            class="d-flex justify-content-between p-0 m-0 px-1 mt-3"
            style="height: 10px"
            *ngIf="password"
          >
            <div
              style="width: 30%"
              [ngClass]="{
        'bg-danger': passwordComplexity  < 50,
        'bg-warning': passwordComplexity >= 50 && passwordComplexity < 75,
        'bg-success': passwordComplexity >= 75,
      }"
            ></div>

            <div
              style="width: 30%"
              [ngClass]="{
        'bg-light': passwordComplexity  < 50,
        'bg-warning': passwordComplexity >= 50 && passwordComplexity < 75,
        'bg-success': passwordComplexity >= 75,
      }"
            ></div>

            <div
              style="width: 30%"
              [ngClass]="{
        'bg-light': passwordComplexity < 75,
        'bg-success': passwordComplexity >= 75,
      }"
            ></div>
          </div>
          <div class="col-12 text-end my-3 fw-bold" *ngIf="password">
            <p
              [ngClass]="{
            'text-success': passwordComplexity >= 75,
            'text-danger': passwordComplexity < 50,
            'text-warning': passwordComplexity >= 50 && passwordComplexity < 75,
          }"
            >
              {{ passwordComplexity < 50 ? 'Weak password' : passwordComplexity
              >= 75 ? 'Strong password' : 'Moderate Password' }}
            </p>
          </div>
          <div class="col-12 mt-4">
            <p>For a secure password, make sure your password contains</p>
            <ul>
              <li>minimum 8 - 15 characters</li>
              <li>At least one uppercase character</li>
              <li>At least one lowercase character</li>
              <li>At least one special character (@,#,$,%)</li>
            </ul>
          </div>
          <div class="col-12 mt-4 d-grid">
            <button
              type="submit"
              (click)="signUp(email, password)"
              color="primary"
              class="btn btn-success btn-lg btn-block"
            >
              Sign Up
            </button>
          </div>
          <div class="col-12 mt-5 text-center">
            <p>
              Already a user?

              <button
                class="btn btn-link text-dark p-0 m-0 fw-bold"
                (click)="goToLogin()"
              >
                Log In
              </button>
            </p>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
