<ion-content [fullscreen]="true">
  <div class="container">
    <div class="login-container">
    <ion-card class="py-3">
      <ion-card-header>
        <ion-card-title>Welcome Back</ion-card-title>
        <ion-card-subtitle>Signin to your account</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="col-md-12">
          <button
            type="button"
            class="login-with-google-btn"
            (click)="loginWithGoogle()"
          >
            Continue with Google
          </button>
        </div>
        <div class="col-md-12 divider my-3">
          <hr>
          <span>or</span>
          <hr>
      </div>
        <div class="col-12 mt-3">
          <input
            type="email"
            #email
            required
            placeholder="Enter your email"
            class="form-control"
          />
        </div>
        <div class="col-12 mt-3">
          <input
            type="password"
            #password
            required
            placeholder="Choose a password"
            min="8"
            max="15"
            class="form-control"
          />
        </div>
        <div class="col-12 mt-4 d-grid">
          <!-- <button
            class="btn btn-link text-dark float-start px-0"
            (click)="goToSignup()"
          >
            New user?
          </button> -->
          <button
            type="submit"
            (click)="login(email, password)"
            color="primary"
            class="btn btn-success btn-lg btn-block"
          >
            Signin
          </button>
        </div>
        <div class="col-12 mt-5 text-center">
          <p>Don't have an account? 
            
          <button
            class="btn btn-link text-dark p-0 m-0 fw-bold"
            (click)="goToSignup()"
          >
           Sign Up
          </button>
          </p>
        </div>
      </ion-card-content>
    </ion-card>
    </div>
  </div>
</ion-content>
