<div class="profile-stats-container px-3">
  <div class="row my-4 px-3">
    <div class="col-8">
      <h5>
        {{ today | date : "MMM d" }}
      </h5>
      <p class="display-4">
        Hey, <span class="fw-bold"> user!</span>
      </p>
    </div>
    <div class="col-4">
      <img src="https://picsum.photos/200/200" class="img-fluid"/>

    </div>
    <div class="col-4 mt-3 text-center bg-success border border-success active">
      <h2>13</h2>
      <p>Completed</p>
    </div>
    <div class="col-4 mt-3 text-center">
      <h2>13</h2>
      <p>Pending</p>
    </div> 
    <div class="col-4 mt-3 text-center">
      <h2>13</h2>
      <p>Total</p>
    </div>
  </div>
</div>